# Solution-1 --> Without Considering RBD approach

In [1]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
path = '/home/ashish/projects/RBD_AirTrafficControllerSystem/RBD.xlsx'
data_frame = pd.read_excel(path)
data_frame

   System A  System B  System C
0        15        15        18
1        14        14        14
2        10        11        15
3        13        12        17
4        16        13        16
5        13        13        13

In [5]:
id_vars = ['index']
value_vars = ['System A','System B','System C']
melted_data = pd.melt(data_frame.reset_index(),id_vars,value_vars)
melted_data.columns = ['index','treatments','values']
melted_data

    index treatments  values
0       0   System A      15
1       1   System A      14
2       2   System A      10
3       3   System A      13
4       4   System A      16
5       5   System A      13
6       0   System B      15
7       1   System B      14
8       2   System B      11
9       3   System B      12
10      4   System B      13
11      5   System B      13
12      0   System C      18
13      1   System C      14
14      2   System C      15
15      3   System C      17
16      4   System C      16
17      5   System C      13

In [8]:
model = ols('values ~ C(treatments)',data=melted_data).fit()
model.summary()

/home/ashish/anaconda3/lib/python3.8/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=18
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 values   R-squared:                       0.300
Model:                            OLS   Adj. R-squared:                  0.207
Method:                 Least Squares   F-statistic:                     3.214
Date:                Sat, 25 Dec 2021   Prob (F-statistic):             0.0689
Time:                        00:17:38   Log-Likelihood:                -34.554
No. Observations:                  18   AIC:                             75.11
Df Residuals:                      15   BIC:                             77.78
Df Model:                           2
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                    13.5000      0.738     18.296      0.000      11.927      15.073
C(treatments)[T.System B]    -0.5000      1.043     -0.479      0.639      -2.724       1.724
C(treatments)[T.System C]     2.0000      1.043      1.917      0.075      -0.224       4.224
==============================================================================
Omnibus:                        0.471   Durbin-Watson:                   2.031
Prob(Omnibus):                  0.790   Jarque-Bera (JB):                0.558
Skew:                          -0.297   Prob(JB):                        0.757
Kurtosis:                       2.375   Cond. No.                         3.73
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [10]:
anova_table = sm.stats.anova_lm(model,typ=1)   ## One way linear anova model
anova_table

                 df  sum_sq    mean_sq         F    PR(>F)
C(treatments)   2.0    21.0  10.500000  3.214286  0.068903
Residual       15.0    49.0   3.266667       NaN       NaN

SAY, Alpha = 5% = 0.05
Since, 

        (p-value = 0.06) > (ALPHA = 0.05)
## So this implies ACCEPT THE NULL HYPOTHESIS/ DO NOT REJECT THE NULL HYPOTHESIS(ALL MEANS ARE EQUAL).

#  ----------------------------------------------------------------------

# ---------------------------------------------------------------

# METHOD::2 -->Considering the RBD APPROACH that is removing the extraneous factor OR nuisance factor present in Error sum of Square previously.

In [12]:
import pandas as pd
import numpy as np
import scipy
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [15]:
path = '/home/ashish/projects/RBD_AirTrafficControllerSystem/RBD.xlsx'
data_frame2 = pd.read_excel(path)
data_frame2

   System A  System B  System C
0        15        15        18
1        14        14        14
2        10        11        15
3        13        12        17
4        16        13        16
5        13        13        13

In [20]:
id_vars = ['index']
value_vars = ['System A','System B','System C']
melted_data2 = pd.melt(data_frame2.reset_index(),id_vars,value_vars)
melted_data2.columns = ['blocks','treatments','values']
melted_data2

    blocks treatments  values
0        0   System A      15
1        1   System A      14
2        2   System A      10
3        3   System A      13
4        4   System A      16
5        5   System A      13
6        0   System B      15
7        1   System B      14
8        2   System B      11
9        3   System B      12
10       4   System B      13
11       5   System B      13
12       0   System C      18
13       1   System C      14
14       2   System C      15
15       3   System C      17
16       4   System C      16
17       5   System C      13

In [21]:
model = ols('values ~ C(blocks) + C(treatments)',data = melted_data2).fit()
model.summary()

/home/ashish/anaconda3/lib/python3.8/site-packages/scipy/stats/stats.py:1603: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=18
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 values   R-squared:                       0.729
Model:                            OLS   Adj. R-squared:                  0.539
Method:                 Least Squares   F-statistic:                     3.835
Date:                Sat, 25 Dec 2021   Prob (F-statistic):             0.0274
Time:                        00:39:30   Log-Likelihood:                -26.027
No. Observations:                  18   AIC:                             68.05
Df Residuals:                      10   BIC:                             75.18
Df Model:                           7
Covariance Type:            nonrobust
=============================================================================================
                                coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------
Intercept                    15.5000      0.919     16.867      0.000      13.452      17.548
C(blocks)[T.1]               -2.0000      1.125     -1.777      0.106      -4.508       0.508
C(blocks)[T.2]               -4.0000      1.125     -3.554      0.005      -6.508      -1.492
C(blocks)[T.3]               -2.0000      1.125     -1.777      0.106      -4.508       0.508
C(blocks)[T.4]               -1.0000      1.125     -0.889      0.395      -3.508       1.508
C(blocks)[T.5]               -3.0000      1.125     -2.666      0.024      -5.508      -0.492
C(treatments)[T.System B]    -0.5000      0.796     -0.628      0.544      -2.273       1.273
C(treatments)[T.System C]     2.0000      0.796      2.513      0.031       0.227       3.773
==============================================================================
Omnibus:                        3.086   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.214   Jarque-Bera (JB):                1.205
Skew:                          -0.000   Prob(JB):                        0.548
Kurtosis:                       1.733   Cond. No.                         7.57
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [22]:
anova_table = sm.stats.anova_lm(model,typ=1)
anova_table

                 df  sum_sq  mean_sq         F    PR(>F)
C(blocks)       5.0    30.0      6.0  3.157895  0.057399
C(treatments)   2.0    21.0     10.5  5.526316  0.024181
Residual       10.0    19.0      1.9       NaN       NaN

## SAY, Alpha = 5% = 0.05 Since,

    (p-value = 0.0241) < (ALPHA = 0.0573)
## So this implies REJECT THE NULL HYPOTHESIS (ALL MEANS ARE EQUAL).

# So this is our most efficient and more dependable result as it has removed the extraneous/nuisance factors while calculating the Error Sum of Square.